/* tag selector with a property key:value pair */
h1, h2 {
    color: green;
    text-align: center;
}

/* id selector with two CSS properties */
#the-id-name-here {
    padding: 20px;
    font-size: 30px;
}

* {
    font-family: 'Dancing Script', cursive;
}

body {
    background-image: linear-gradient(red, yellow);
}

#box {
    border-inline: inherit;
    border-style: groove;
    border-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: auto;
    border-top-width:0;
    border-bottom-width:0;
}
 .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;

}
.center_table {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}
table td {
    height:33px;
    width: 100px;
    font-size: 100px;
    border: 2px solid black:
}
button:hover{
    background-color: red;
}
